{#
/**
 * @file
 * Theme override for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the <select> tag.
 * - options: The <option> element children.
 *
 * @see template_preprocess_select()
 */
#}
{% apply spaceless %}
<div class="filter search-dropdown">
<div class="select-wrapper">
  <select{{ attributes.addClass('browser-default custom-select forminpt') }}>
    {% for option in options %}
      {% if option.value >= 0 %}
        <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
      {% endif %}
    {% endfor %}
  </select>

  <div class="dropdown-container filters filter-button-group">
    <div class="dropdown-select entypo-down-open-big">
      <img src="/images/static/amenities.svg">{{ 'All Amenities' | t }}</div>
    <ul class="dropdown-select-ul" data-role="edit-experience">
      <li class=" selected" data-value="All Amenities" data-filter="all">
        <img src="/images/static/amenities.svg">{{ 'All Amenities' | t }}</li>
      </li>
      {% for option in options %}
          {% if option.value > 0 %}
            <li data-value="{{ option.value }}" data-filter="{{ option.value }}"><img src="{{ exp_icons[option.value] }}">{{ option.label }}</li>
          {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
</div>
{% endapply %}
