{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{%
  set menu_classes = [
    'rollover mabt', 'rollover mproj', '', 'rollover mmedia', 'rollover mcareers', 'd-lg-none', 'd-lg-none'
  ]
%}
{% set url = url('<current>') |render|render %}
{% if ('interactive' in url) %}
<div class="">
    <div class="dark-map-overly">
        <img src="/images/static/loader-new.gif">
    </div>
{% endif %}
<header>
      <div class="container">
        <div class="row">
          <div class="col-3 col-lg-5 my-auto">
            <div id="menu-burger">
              <span class="menu-icon"></span>
            </div>
            {# Remove interactive CTA from the header #}
            {# {% if ('interactive' not in url) %}
            <a class="interactive-map-redirection white-btn" target="_blank" href="/{{ langclass }}/interactive-map">
              <img src="/images/static/interactive-map.svg" alt="">
              <p class="detailed-txt">{{ 'Interactive Map' | t }}</p>
            </a>
            {% else %}
            <a class="back-to-web" href="/{{ langclass }}/play">
               <img src="/images/static/arrow-left-white-filled-circle.svg" alt="">
               <p class="detailed-txt">{{ 'Go back to Website' | t }}</p>
            </a>
            {% endif %} #}
            <div id="overlay-menu">
              <div class="overlay-wrapper">
                <nav role='navigation' class="container nav-primary">
                {% if items %}
                  <ul>
                  {% for item in items %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>                   
                  {% endfor %}
                  </ul>
                {% endif %}
                </nav>
                
                {{ drupal_view('menu_content')|render }}
                    
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-2 text-center my-auto z-100">
            {% set logo = "/themes/custom/hudayriyat/logo.svg"  %}
            {% if langclass == 'ar' %}
               {% set logo = "/themes/custom/hudayriyat/logo-white-ar.svg" %}
            {% endif %}
            <a href="/{{ langclass }}/play"><img src="{{ logo }}" alt="Logo" class="logo"></a>
          </div>
          <div class="col-3 col-lg-5 my-auto z-100 p-abs-resp">
          {% set url = url('<current>') |render|render %}
            <ul class="header-right">
              <li>{{ drupal_entity('block', 'languageswitcher') }}</li>
			 <li><a href="/{{ langclass }}/search-amenities" class="search-icon"><img src="/images/static/search.svg" alt="Search Icon"></a></li>
              {% if ('play' in url) or ('stay' in url) %}
                <li><a href="javascript:;" class="book-now-btn" data-toggle="modal" data-target="#bookingModal">{{ 'Book Now' | t }}</a></li>
              {% endif %}
              <li><a href="https://www.hudayriyatisland.ae/en/enjoy" class="book-now-btn">{{ 'Events' | t }}</a></li>
              {% if ('play' in url) or ('stay' in url) or ('eat' in url) or ('enjoy' in url) or ('discover' in url) %}
                <li><a href="javascript:;" class="hour-btn" data-toggle="modal" data-target="#hourModal">{{ 'Opening Hours' | t }}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </header>
