{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% for row in rows %}
    {% set sectionNO = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_highlighted_news_list_no }}'] | striptags | trim %}
    {% set title = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_highlighted_news_title }}'] | striptags | trim  %}
    <section class="p-section">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="listing-number">{{ sectionNO }}</div>
                <h2>{{ title }}</h2>
              </div>
            </div>
              {{ drupal_view('highlighted_news') | render }}
          </div>
        </section>
{% endfor %}