{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% for key, items in menu %}
<div class="menu-links-groups">
    <span><a href="/{{ langcode | lower }}/{{ key|lower }}">{{ key|t }}</a></span>
                           
    {% for ikey, frow in items %}
    {% set fkey = frow.0 %}
    {% set row = frow.1 %}
    {% set title   = row.content['#view'].style_plugin.render_tokens[ fkey ]['{{ field_listing_title }}'] | striptags | trim %}
    {% set link   = row.content['#view'].style_plugin.render_tokens[ fkey ]['{{ view_node }}'] | striptags | trim %}
    {% if langcode == 'AR' %}
        {% set url_title = title|t %}
    {% else %}
        {% set url_title = title %}
    {% endif %}
     <a href="{{ link }}#{{ url_title|replace({" ":"-"})|lower }}">{{ title | raw }}</a>
    {% endfor %}
     </div>

{% endfor %}