{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% for row in rows %}
    {% set thumbnail_image = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_hero_image }}'] | striptags | trim %}
    {% set title = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_hero_image_title }}'] | striptags | trim  %}
        <section class="discovery-main">
            <div class="upper">
            <div class="discover-main-wrapper container">
                <h1>{{ title | raw }}</h1>
            </div>
            <div class="discovery-main-illus">
                <img class="card-img-top" src="{{ thumbnail_image }}" alt="{{ title }}" class="discovery-img-video">
            </div>
            </div>
            <div class="ground">
            <img src="/images/static/scroll.gif" alt="Scroll Gif" class="scroll-down">
            </div>
      </section>
{% endfor %}