{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{% for row in rows %}
{% set title = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_title }}'] %}
{% set headline = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_headline }}']  %}

<div class="modal fade" id="hourModal" tabindex="-1" role="dialog" aria-labelledby="hourModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close'|t }}</button>
        <div class="third-fold bg-orange p-fold" id="covid-section">
          <div class="container">
            <h2 class="mb-md-5 mb-3">{{ headline|raw }}</h2>
            <div class="row justify-content-between">
              {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_info }}'] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
