{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% for row in rows %}
    {% set date = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_news_date }}'] | striptags | trim %}
    {% set headline = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_headline }}'] | striptags | trim  %}
    {% set subHeadline = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_intro_sub_headlines }}'] | raw %}
    {% set introDescription = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_intro_description }}'] | raw %}
    {% set addtoany = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ addtoany_share }}']  %}

        <section class="related-content related-interaction white-bg">
          <ul class="interaction-external">
		    <li>
              <div class="interaction-external-wrapper">
                <a href="/{{ langcode }}/newslist"><img src="/images/static/arrow-left-navy.svg" alt=""><p class="detailed-txt mb-0 mx-2">{{ 'Back to all news' | t }}</p></a>
                <img src="images/static/share.svg" alt="">
              </div>
            </li>
            <li>
              <div class="interaction-external-wrapper">
                {{ addtoany }}
              </div>
            </li>
            <li class="light-navy-bg">
              <div class="interaction-external-wrapper">
                <img src="/images/static/time-navy.svg" alt="">
                <p>{{ date | t}}</p>
              </div>
            </li>
          </ul>
        </section>
{% endfor %}