{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if type == 'Activities' or type == 'النشاطات'  %}
  {% if langcode == 'en' %}
	  {% set title = drupal_config('hudayriyat_custom_configs.settings', 'custom_configs_available_at_en') %}
  {% else %}
    {% set title = drupal_config('hudayriyat_custom_configs.settings', 'custom_configs_available_at_ar') %}
  {% endif %}
{% elseif type == 'Facilities' or type == 'المنشآت'%}
  {% if langcode == 'en' %}
	  {% set title = drupal_config('hudayriyat_custom_configs.settings', 'custom_configs_available_sports_en') %}
  {% else %}
    {% set title = drupal_config('hudayriyat_custom_configs.settings', 'custom_configs_available_sports_ar') %}
  {% endif %}
{% endif %}
<div class="row">
  <div class="col">
    <p class="detailed-txt opacity-text bold">{{ title }}</p>
  </div>
</div>
<div class="row">
{% for row in rows %}
        {% set title = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_hero_image_title }}'] | striptags | trim %}
        {% set image = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_hero_image }}'] | striptags | trim  %}
        {% set link = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ view_node }}'] | striptags | trim  %}
        {% set icon = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_amenity_icon }}'] | striptags | trim  %}
		{% set icon_color = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_amenity_icon_color }}'] | striptags | trim  %}
        {% set type = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_amenity_type }}'] | striptags | trim %}
		{% if not icon_color %} {% set icon_color = 'red-bg'  %} {% endif %}

          {% if type == 'Facilities' or type == 'المنشآت'%}
              <div class="col-md-6 col-lg-4">
                <div class="card-wrapper">
                  <div class="card sports percent-40">
                    <div class="card-img-wrapper">
                      <a href="{{ link }}"></a>
                      <img class="card-img-top" src="{{ image }}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                      <a href="{{ link }}">
                        <h3 class="card-title">{{ title | raw }}</h3>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
          {% else %}
              <div class="col-md-4">
                <div class="card-wrapper">
                  <div class="card sports">
                    <div class="card-img-wrapper">
                      <a href="{{ link }}"></a>
                      <img class="card-img-top" src="{{ image }}" alt="{{ title }}">
                    </div>
                    <div class="card-tag-wrapper {{ icon_color }}">
                      <img class="card-tag-img" src="{{ icon }}" alt="{{ title }}">
                    </div>
                    <div class="card-body">
                      <a href="{{ link }}">
                        <h3 class="card-title">{{ title | raw }}</h3>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
          {% endif %}
{% endfor %}
</div>
